/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;}


/* homepage */
.home {
 grid-template-columns: 3fr 1fr;
  
}

/* new workout form */
label, input {
  @apply block;
}


input {
  @apply p-4 mt-4 mb-8 w-full border border-gray-300 bg-blue-100 border-blue-500 rounded-lg;
}

div.error {
  @apply p-4 bg-red-200 border border-error text-error rounded-md my-5;
}
input.error {
  @apply border border-error;
}

/* navbar */
/* nav {
  display: flex;
  align-items: center;
} */
nav a, nav button {
  @apply ml-4;
}


/* auth forms */
.form-container {
 @apply max-w-xl mx-auto p-20 bg-slate-100 rounded-xl flex flex-col items-center
}

.form-container h3{
 
  @apply text-3xl  text-form_title text-left font-semibold mb-5
}

.form-container label {
  margin-bottom: 8px;
  @apply mb-2
}

.form-container .input-container {
  width: 100%;
  margin-bottom: 16px; /* Adjust as needed */
}


/* .form-container .signup-button:hover {
  background-color: #ffdf6b;
  border-color: #183153;
  color: #183153;
} */


.w-full .p-icon {
  /* Add your styles here */
  @apply  text-xl relative bottom-3 
  
}

