/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;}


/* homepage */
.home {
 grid-template-columns: 3fr 1fr;
  
}

/* new workout form */
label, input {
  @apply block;
}
.p-password-input{

  @apply mb-4;
}

input {
  @apply p-3 mt-4 mb-8 w-full  border-blue-600 border-2 rounded-lg;
}

div.error {
  @apply p-4 bg-red-200 border border-error text-error rounded-md my-5  ;
}
input.error {
  @apply border border-error ;
}


nav a, nav button {
  @apply ml-4;
}


/* auth forms */
.form-container {
  height: 640px;
 @apply max-w-4xl    mx-auto p-20 m-8 ml-8 bg-violet-100  border-white border-2 rounded-3xl flex flex-col items-center
 
}

.form-container h3{
 
  @apply text-3xl  text-form_title text-left font-semibold mb-5
}

.form-container label {
  margin-bottom: 8px;
  @apply mb-2
}

.form-container .input-container {

  @apply w-full mb-4
}




.w-full .p-icon {
 
  @apply  text-xl relative bottom-2
  
}


.p-confirm-dialog .p-confirm-dialog-message {
 @apply p-5
 
}

